/*global*/
body {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgba(0,0,0,0.8);
}

a {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

.nowrap {
    white-space: nowrap;
}

/*Side Bar*/
#side-bar {
  width: 270px;
  position: fixed;
  float: left;
  height: 98%;
  text-align: right;
  font-size: 17px;
}

#title {
  margin-top: 100px;
  font-size: 50px;
}

#name {
  font-size: 30px;
  margin-top: 20px;
}

#social-media {
  font-size: 20px;
}

#social-media a {
  margin-left: 10px;
}

#menu {
  margin-top: 40px;
}

.nav-item-date {
  font-size: 14px;
  margin-left: 10px;
  /*color: rgba(150,150,150,0.8)!important;*/
}

#side-bar, li {
  display: block;
}

#about {
  /*bottom: 100px;*/
  /*position: absolute;*/
  color: rgba(150,150,150,0.8)!important;
}

#about, p {
  margin-top: 0;
  margin-bottom: 0;
}

.rss-feed {
    padding-bottom: 10px;
}

/*Burger menu and modal*/
#menu-btn {
  font-size: 25px;
  border: none;
  background-color: white;
  display: none;
  color: rgba(0,0,0,0.8);
}

 /* The Modal (background) */
.menu-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.modal-menu-items {
    text-align: left;
    line-height: 40px;
}
.modal-nav-item-title {
    font-size: 24px;
}

.modal-nav-item-date {
    font-size: 17px;
    margin-left: 10px;
    color: rgba(150,150,150,0.8)!important;

}

/* The Close Button */
.menu-close {
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Burger menu and modal*/


/*subscribe form*/
#footer-bar {
  padding: 15px 0 0 0;
  position: absolute;
  bottom:0 !important;
  left: 0!important;
}

#mc_embed_signup form{
  font-size: 17px !important;
  text-align: right !important;
}

#mc_embed_signup input.button, input.email {
  border-radius: 0px;
  display: inline !important;
  margin: 0 0% 10px 2px !important;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;

}

#mc_embed_signup input.email {
  min-width: 120px !important;
  max-width: 170px !important;
  height: 32px;
}

#mc_embed_signup input.button {
  min-width: 75px !important;
  max-width: 90px !important;
}

#desktop-source {
    position: fixed;
    right: 60px;
    bottom: 30px;
}

#mobile-source {
    display: none;
}

.source a{
  color: #aaa;
}

.source a:hover {
    text-decoration: underline;
}

/*Front-page*/
.index-item {
    padding: 35px 0px 35px 0px;
}
.index-title {
    font-size: 30px;
}

.index-date {
    color: rgba(150,150,150,0.8)!important;
}

.index-description {
    padding-top: 15px;
    font-size: 19px;
    line-height: 1.5;
}

.index-tags {
    margin: 5px 0 5px 0;
}

.index-tag {
    padding: 3px 10px 3px 10px;
    color: white;
    background-color: rgba(150,150,150,0.8)!important;
    border-radius: 16px;
    margin: 0px 10px 0px 0px;
    font-size: 13px;
    line-height: 23px;
}

.continue-reading{
    padding-top: 10px;
}

.index-thumb {
    padding-top: 20px;
}

.index-thumb img {
    width: 250px;
}

/*Front-page*/

/*Pages*/
#container {
  width: 80%;
  float: right;
}

#content {
  margin-left: 10%;
  width: 60%;
  float: left;
}

#content li {
    font-size: 22px;
    line-height: 1.5;
    display: list-item;
}

#container h1 {
  font-size: 40px;
}

#container p {
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: normal;
}

#container img  {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container canvas  {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container a {
  color: #006699;
}

.hljs {
  font-size: 18px;
}

.equation {
}

.fgm-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*button*/
.actionbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  width: 60px;
  margin-top: 20px;
  border-width: 0px 1px 1px 0px;
  border-radius: 2px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 23px;
  text-align: center;
  background-color: #aaa;
  border-color: rgba(200,200,200,0.8);
  color: #FFFFFF;
}


@media (max-width: 1100px) {

  /*Header - navigator*/
  #side-bar {
    position: relative;
    float: none;
    margin-left: 5%;
    width: 90%;
    height: 290px;
  }

  #header {
    text-align: left;
    float: left;
  }

  #social-media {
    margin-left: 3px;
  }

  #social-media a{
    margin-left: 0px;
    margin-right: 10px;
  }

  #title {
      margin-top: 20px;
      font-size: 45;
  }

  #footer-bar {
    position: initial;
  }

  #about {
    display: none;
  }

  #mc_embed_signup {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  #menu-btn {
    display: initial;
  }

  /*Source code*/
  #desktop-source {
      display: none;
  }

  #mobile-source {
      display: block;
  }
  /*Source code*/

  /*pages*/
  #content {
    margin-left: 5%;
    width: 90%
  }

  #container {
    width: 100%;
  }

  #container h1 {
    font-size: 30px;
  }

  #container img, canvas {
    max-width: 90%;
  }

  .hljs {
    font-size: 15px;
  }

  #menu {
    display: none;
  }

}
