doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content=descriptionVar)
    title= titleVar
    
    //- Medium like font
    link(rel='stylesheet', href='assets/css/font.css')
    
    //- Symbols
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    
    //- Highlights
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css')

    //- mailchimp
    link(href='//cdn-images.mailchimp.com/embedcode/slim-081711.css', rel='stylesheet', type='text/css')

    //-Math formulas 
    script(type='text/javascript', src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')

    //-styles
    link(rel='stylesheet', href='assets/css/style.css')        
