#side-bar

  #header
    #title Data Journal

    #author
      #name Flávio Sousa
      #social-media
        a(href='//pt.linkedin.com/pub/flávio-sousa/3a/a06/770/', target='_blank')
          i.fa.fa-linkedin
        a(href='//twitter.com/verysocialsousa', target='_blank')
          i.fa.fa-twitter
        a(href='//github.com/fjsousa', target='_blank')
          i.fa.fa-github


  #menu

    a(href='webrtc-part1.html')
      span#nav-item-title WebRTC Part 1
    span#nav-item-date (27-02-2015)

    br

    a(href='webrtc-part2.html')
      span#nav-item-title WebRTC Part 2
    span#nav-item-date (20-03-2015)

    br

    a(href='fgm.html')
      span#nav-item-title Cellular Automata
    span#nav-item-date (21-06-2015)

    br

    a(href='open-data.html')
      span#nav-item-title Open Data
    span#nav-item-date (09-10-2016)

  #footer-bar

    #mc_embed_signup
      form#mc-embedded-subscribe-form.validate(action='//github.us10.list-manage.com/subscribe/post?u=5b26850668dc6b3f84778ca5e&id=cb5f4eedfe', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
          label(for='mce-EMAIL') Subscribe to the mailing list
          |       
          input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_5b26850668dc6b3f84778ca5e_cb5f4eedfe', tabindex='-1', value='')
          |       
          .clear
            input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')

    #about

      p#about-title About: 
      p
        | Data Journal is a blog about numbers, modelling 
        | and coding in general
